@import url("https://fonts.googleapis.com/css?family=Noto+Sans:wght@300;400&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #fdfdfd;
  font-family: "Noto Sans", sans-serif;;
  font-size: 1rem;
}
main {
  margin: auto;
  text-align: center;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

form{
  padding: 5%;
}

form > input{
  margin-bottom: 8px;
}

.sonetel-button{
  color: white !important;
  background-color: #68d0d0 !important;
  border-radius: 4px;
  width: 100%;
  height: 48px;
  outline: none;
}

.page-title{
  font-weight: 500;
  line-height: 36px;
  font-size: 28px;
  outline: none;
}

.sonetel-input{
  /* width: 100%; */
  height: 48px;
  line-height: 48px;
  padding: 8px;
}

.text-link{
  text-decoration: none;
  color: #89909A;
  outline: none;
  cursor: pointer;
}

.sonetel-logo{
  height: 40px;
  width: 40px;
  outline: none;
}

.sonetel-nav{
  width: 100%;
  outline: none;
}

.sonetel-form {
  width: 336px;
}

::placeholder{
  color: #bcc0c5;
}

.logout{
  outline: none;
}

.w3-panel{
  margin-top: 0px !important;
  margin-bottom: 0px !important;
}

.section-title{
  font-size: 15px;
  line-height: 48px;
  font-weight: 500;
}

.adv-settings{
  position: fixed;
  width: 304px;
}

/*https://stackoverflow.com/a/34548863*/
.icon-up:before {
  content: "\25B2";
}
.icon-down:before {
  content: "\25BC";
}

@media screen and (max-width: 768px) {
  .sonetel-input{
    width: 80%;
  }
}

@media screen and (min-width: 768px) {
  .sonetel-logo{
    position: fixed;
    margin-top: 64px;
    margin-left: 64px;
  }

  .logout{
    outline: none;
    margin-top: 64px;
    margin-right: 64px;
  }
}
