@import url("https://fonts.googleapis.com/css?family=Noto+Sans:wght@300;400,500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #fdfdfd;
  font-family: "Noto Sans", Arial, Helvetica, sans-serif !important;
  font-size: 1rem;
}
main {
  margin: auto;
  text-align: center;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

form{
  padding: 5%;
}

form > input{
  margin-bottom: 8px;
}

.sonetel-button{
  color: white !important;
  background-color: #68d0d0 !important;
  border-radius: 4px;
  width: 100%;
  height: 48px;
  outline: none;
}

.page-title{
  font-weight: 500;
  line-height: 36px;
  font-size: 28px;
  outline: none;
}

.sonetel-input{
  /* width: 100%; */
  height: 48px;
  line-height: 48px;
  padding: 8px;
}

.text-link{
  text-decoration: none;
  color: #89909A;
  outline: none;
  cursor: pointer;
}

.sonetel-logo{
  height: 40px;
  width: 40px;
  outline: none;
}

.sonetel-nav{
  width: 100%;
  outline: none;
}

.sonetel-form {
  padding-top: 15vh !important;
  width: 336px;
}

::placeholder{
  color: #bcc0c5;
}

.logout{
  outline: none;
}

.w3-panel{
  margin-top: 0px !important;
  margin-bottom: 0px !important;
}

.section-title{
  font-size: 15px;
  line-height: 48px;
  font-weight: 500;
}

.adv-settings{
  position: fixed;
  width: 304px;
}

/*https://stackoverflow.com/a/34548863*/
.icon-up:before {
  content: "\25B2";
}
.icon-down:before {
  content: "\25BC";
}

/* MODAL CSS START */
.modal {
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  margin-left: auto;
  margin-right: auto;
  margin-top: 50vh;
  /* border: 1px solid #888; */
  width: 100px; /* Could be more or less, depending on screen size */
}
/* MODAL CSS END*/

/*SPINNER CSS START*/
.loader {
  border: 6px solid #f3f3f3;
  border-radius: 50%;
  border-top: 6px solid #68d0d0;
  width: 60px;
  height: 60px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

.infoimage{
  padding-top: 15px;
  vertical-align: bottom !important;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
/* SPINNER CSS END */

/*CUSTOM SCROLLBAR START */
/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #919191; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #666; 
}
/* CUSTOM SCROLLBAR END */

/* update notification css start*/
.update-notif {
  position: fixed;
  bottom: 15px;
  right: 15px;
  margin-left: 25px;
  max-width: 43%; 
  cursor: pointer;
  text-align: center;
}

.update-notif-container {
  padding: 20px;
  background-color: #68d0d0;
  color: black;
  opacity: .50;
  border-radius: 4px;
  font-size: smaller;
}

.update-notif-container:hover{
  opacity: .75;
}
/* update notification css end*/

.closebtn {
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s;
  padding: 0px 16px !important;
}


.closebtn:hover {
  color: red;
}

.install-notif{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 35px;
  font-size: 1rem;
  text-align: center;
  cursor: pointer;
}

.sonetel-panel{
  line-height: 30px !important;
  height: 30px !important;
  /* font-size: 1rem; */
}

@media screen and (max-width: 768px) {
  .sonetel-input{
    width: 80%;
  }
}

@media screen and (min-width: 768px) {
  .sonetel-logo{
    position: fixed;
    margin-top: 64px;
    margin-left: 64px;
  }

  .logout{
    outline: none;
    margin-top: 64px;
    margin-right: 64px;
  }

  .install-notif{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    text-align: center;
    cursor: pointer;
  }

  .closebtn {
    font-weight: 600;
    cursor: pointer;
    transition: 0.3s;
    vertical-align: middle;
    padding: 0px 16px !important;
  }
}
